*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
    display: flex;
    background-color: white;
}

.header-menu{
    width: 80%;
    height: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.logo-img img{
    width: 80px;
    height:75px
}

.name{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu{
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

ul li{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 25px;
}