td,
th {
    padding: 10px;
}

td {
    text-align: center;
    background-image: linear-gradient(#728AE9,#FFFFFF);
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-image: linear-gradient(#728AE9,#FFFFFF);
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    color: #000000;
}

th[scope="row"] {
    background-image: linear-gradient(#728AE9,#FFFFFF);
    font-family: 'Montserrat', sans-serif;
    max-height: 70px;
    height: 40px;
    color: #000000;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
}

button{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.first{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.last{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.middle{
    border-right:1px solid gray;
    border-left:1px solid gray;
}
