<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Contact</title>

  <link rel="icon" type="image/png" href="/static/images/cinema_black_icon.png"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" href="/static/css/card.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/footer.css">
  <link rel="stylesheet" href="/static/css/profile-nav.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/css/util.css">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body>

<div class="limiter">
  <header>
    <div class="logo">
      <div class="logo-img">
        <a href="/customer/"><img src="/static/images/cinema_logo.png" alt="no_image"></a>
      </div>
      <div class="name">
        <h2>YerevanCinema</h2>
      </div>
    </div>
    <div class="header-menu">
      <div class="menu">
        <ul>
          <a href="/customer/sessions">
            <li>Sessions</li>
          </a>
          <a href="/customer/about">
            <li>About</li>
          </a>
          <a>
            <li>Contact</li>
          </a>
          <li>
            <div class="navbar">
              <div class="dropdown">
                <button class="dropbtn">Name Surname
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="/customer/details">Account Details</a>
                  <a href="/customer/tickets">My Tickets</a>
                  <a href="/customer/logout">Log out</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <h1 style="margin-top: 40px;text-align: center;font-size: 55px;text-shadow: -2px -2px 8px;">
    Contact us
  </h1>
  <div class="center-2">
    <div class="front-face">
      <div class="contents front">
        <form action="/customer/contact" method="post">
          <div class="wrap-input100 validate-input" style="border-radius: 10px;"
               data-validate="Invalid message">
            <label>Message
              <textarea class="input100-message" style="height: 200px;border-radius: 10px;background-color: white"
                        type="text" required name="message"></textarea>
            </label>
          </div>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" style="background-color: black" type="submit">
                Send Message
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<footer >
  <div class="box">
    <div class="icons">
      <a href="https://facebook.com"><i class="fa fa-facebook-official" style="color: white; font-size: 20px;"></i></a>
      <a href="https://instagram.com"><i class="fa fa-instagram" style="color: white; font-size: 20px;"></i></a>
      <a href="https://twitter.com"><i class="fa fa-twitter" style="color: white; font-size: 20px;"></i></a>
    </div>
    <div class="text">
      <p  style="color: white">© YerevanCinema</p>
      <p style="color: white">Komitas 35, Yerevan</p>
      <p style="color: white">Tel. +374 10 10 10 10</p>
    </div>
  </div>
</footer>
</body>
</html>