<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Selected Movie Sessions</title>

    <link rel="icon" type="image/png" href="/static/images/cinema_black_icon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/profile-nav.css">
    <link rel="stylesheet" href="/static/css/sessions.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body>
<header>
    <div class="logo">
        <div class="logo-img">
            <a href="/customer/"><img src="/static/images/cinema_logo.png" alt="no_image"></a>
        </div>
        <div class="name">
            <h2>YerevanCinema</h2>
        </div>
    </div>
    <div class="header-menu">
        <div class="menu">
            <ul>
                <a href="/customer/sessions">
                    <li>Sessions</li>
                </a>
                <a href="/customer/about">
                    <li>About</li>
                </a>
                <a href="/customer/contact">
                    <li>Contact</li>
                </a>
                <li>
                    <div class="navbar">
                        <div class="dropdown">
                            <button class="dropbtn">
                                <h3 data-placeholder="username" th:text="${customer.getCustomerUsername()}"></h3>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/customer/details">Account Details</a>
                                <a href="/customer/tickets">My Tickets</a>
                                <a href="/customer/details/remove">Deactivation</a>
                                <a href="/logout">Log out</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</header>
<div class="limiter">

    <div>
        <img style="margin-left: 2%;margin-top: 1%;border-radius: 10px" width="1520" height="290"
             src="/static/images/music_ad.jpg" alt="no_image">
    </div>

    <table style="margin-top: 20px;margin-left: 25%">
        <tr>
            <th scope="col" class="first" style="width: 170px">Session ID</th>
            <th scope="col" class="middle" style="width: 100px">Ticket Count</th>
            <th scope="col" class="middle" style="width: 150px">Password</th>
            <th scope="col" class="last" style="width: 120px">Purchase</th>
        </tr>
        <tr>
            <form action="/customer/session/purchase" method="post"
                  style="padding-left: 10%;padding-top: 3%; padding-right: 10%;">
                <th class="first">
                    <input type="number" name="selected_session_id" required
                           style="text-align: center;background: none;border: 1px solid black">
                </th>
                <th class="middle">
                    <input type="number" min="1" name="ticket_count" required
                           style="text-align: center;background: none;border: 1px solid black">
                </th>
                <th class="middle">
                    <input type="password" name="password" required
                           style="text-align: center;background: none;border: 1px solid black">
                </th>
                <th class="last">
                    <button type="submit">
                        <a style="font-size:.8rem;color: black;text-decoration: none;background-color: #a986ff">
                            Confirm
                        </a>
                    </button>
                </th>
            </form>
        </tr>
    </table>

    <table style="margin-left: 2%;margin-top: 1%; margin-right: 2%; border-radius: 10px">
        <tr>
            <th scope="col" class="first" style="width: 20px">ID</th>
            <th scope="col" class="middle" style="width: 170px">Movie</th>
            <th scope="col" class="middle" style="width: 150px">Category</th>
            <th scope="col" class="middle" style="width: 250px">Start</th>
            <th scope="col" class="middle" style="width: 250px">End</th>
            <th scope="col" class="middle" style="width: 150px">Hall</th>
            <th scope="col" class="middle" style="width: 150px">Price</th>
            <th scope="col" class="middle" style="width: 300px">Description</th>
        </tr>
        <tr th:each="movie_session : ${selected_movie_sessions}">
            <th scope="row" class="first" style="width: 170px">
                <button type="button" style="cursor: none">
                    <a>
                        <input readonly name="movie_session_id" style="width: 0; height: 0;font-size:.8rem;color: black;
                        background: none;" th:text="${movie_session.movieSessionID}">
                    </a>
                </button>
            </th>
            <th scope="row" class="middle" style="width: 170px">
                <button type="button" style="cursor: none">
                    <a>
                        <input readonly name="movie_name" style="width: 0; height: 0;font-size:.8rem;color: black;
                        background: none;" th:text="${movie_session.movie.movieName}">
                    </a>
                </button>
            </th>
            <th scope="row" class="middle" style="width: 150px">
                <button type="button" style="cursor: none">
                    <a>
                        <input readonly name="movie_category" style="width: 0; height: 0;font-size:.8rem;color: black;
                        background: none;" th:text="${movie_session.movie.movieCategory}">
                    </a>
                </button>
            </th>
            <th scope="row" class="middle" style="width: 250px">
                <button type="button" style="cursor: none">
                    <a>
                        <input readonly name="movie_session_start" style="width: 0; height: 0;font-size:.8rem;color: black;
                        background: none;" th:text="${movie_session.movieSessionStart}">
                    </a>
                </button>
            </th>
            <th scope="row" class="middle" style="width: 250px">
                <button style="cursor: none">
                    <a>
                        <input readonly name="movie_session_end" style="width: 0; height: 0;font-size:.8rem;color: black;
                        background: none;" th:text="${movie_session.movieSessionEnd}">
                    </a>
                </button>
            </th>
            <th scope="row" class="middle" style="width: 150px">
                <button type="button" style="cursor: none">
                    <a>
                        <input readonly name="movie_session_hall" style="width: 0; height: 0;font-size:.8rem;color: black;
                        background: none;" th:text="${movie_session.hall.hallName}">
                    </a>
                </button>
            </th>
            <th scope="row" class="middle" style="width: 150px">
                <button style="cursor: none">
                    <a>
                        <input readonly name="movie_session_price" style="width: 0; height: 0;font-size:.8rem;color: black;
                        background: none;" th:text="${movie_session.movieSessionPrice}">
                    </a>
                </button>
            </th>
            <th scope="row" class="last" style="width: 350px">
                <button style="cursor: none">
                    <a>
                        <input readonly name="movie_description" style="width: 0; height: 0;font-size:.8rem;color: black;
                        background: none;" th:text="${movie_session.movie.movieDescription}">
                    </a>
                </button>
            </th>
        </tr>
    </table>

</div>
<footer>
    <div class="box">
        <div class="icons">
            <a href="https://facebook.com" target="_blank">
                <i class="fa fa-facebook-official" style="color: white; font-size: 20px;"></i>
            </a>
            <a href="https://instagram.com" target="_blank">
                <i class="fa fa-instagram" style="color: white; font-size: 20px;"></i>
            </a>
            <a href="https://twitter.com" target="_blank">
                <i class="fa fa-twitter" style="color: white; font-size: 20px;"></i>
            </a>
        </div>
        <div class="text">
            <p style="color: white">© YerevanCinema</p>
            <p style="color: white">Komitas 99, Yerevan</p>
            <p style="color: white">Tel. +374 10 10 10 10</p>
        </div>
    </div>
</footer>
</body>
</html>