<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>

    <link rel="icon" type="image/png" href="/static/images/cinema_black_icon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/profile-nav.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body>
<header>
    <div class="logo">
        <div class="logo-img">
            <a href="/customer/"><img src="/static/images/cinema_logo.png" alt="no_image"></a>
        </div>
        <div class="name">
            <h2>YerevanCinema</h2>
        </div>
    </div>
    <div class="header-menu">
        <div class="menu">
            <ul>
                <a href="/customer/sessions">
                    <li>Sessions</li>
                </a>
                <a>
                    <li>About</li>
                </a>
                <a href="/customer/contact">
                    <li>Contact</li>
                </a>
                <li>
                    <div class="navbar">
                        <div class="dropdown">
                            <button class="dropbtn">
                                <h3 data-placeholder="username" th:text="${customer.getCustomerUsername()}"></h3>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="/customer/details">Account Details</a>
                                <a href="/customer/tickets">My Tickets</a>
                                <a href="/customer/details/remove">Deactivation</a>
                                <a href="/logout">Log out</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="limiter">
    <h1 style="padding-top: 35px;text-align: center;font-size: 55px;text-shadow: -2px -2px 8px;">
        Biography and History of YerevanCinema
    </h1>
    <div class="center-big">
        <div class="front-face">
            <div class="contents front">
                <img class="img-big" src="/static/images/cinema_hall.jpg" alt="no_image"><br><br>
                <a style="color: black; font-size: 15px">Cool cucumbers cayenne red grapes eating together Indian banana
                    bread and stormy ultimate vegan a
                    delicious meal ginger carrot spiced morning smoothie bowl red amazon pepper green tea
                    cranberry spritzer blood orange smash. Thyme hummus cauliflower lemon lime minty dessert maple
                    orange tempeh leek sweet potato black bean burrito smoothie early grey latte cilantro seitan
                    shallots portobello mushrooms lime instant pot cherry bomb apples sleepy morning tea Thai sun
                    pepper bruschetta spicy peppermint blast green grapes springtime strawberry veggie burgers.</a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="box">
        <div class="icons">
            <a href="https://facebook.com" target="_blank">
                <i class="fa fa-facebook-official" style="color: white; font-size: 20px;margin-top: 20px"></i>
            </a>
            <a href="https://instagram.com" target="_blank">
                <i class="fa fa-instagram" style="color: white; font-size: 20px;margin-top: 20px"></i>
            </a>
            <a href="https://twitter.com" target="_blank">
                <i class="fa fa-twitter" style="color: white; font-size: 20px;margin-top: 20px"></i>
            </a>
        </div>
        <div class="text">
            <p style="color: white">© YerevanCinema</p>
            <p style="color: white">Komitas 35, Yerevan</p>
            <p style="color: white">Tel. +374 10 10 10 10</p>
        </div>
    </div>
</footer>
</body>
</html>