<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sessions</title>

    <link rel="icon" type="image/png" href="/static/images/cinema_black_icon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/sessions.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body>

<div class="limiter">
    <header>
        <div class="logo">
            <div class="logo-img">
                <a href="/"><img src="/static/images/cinema_logo.png" alt="no_image"></a>
            </div>
            <div class="name">
                <h2>YerevanCinema</h2>
            </div>
        </div>
        <div class="header-menu">
            <div class="menu">
                <ul>
                    <a>
                        <li>Sessions</li>
                    </a>
                    <a href="/about">
                        <li>About</li>
                    </a>
                    <a href="/contact">
                        <li>Contact</li>
                    </a>
                    <a href="/login">
                        <li>Log In</li>
                    </a>
                </ul>
            </div>
        </div>
    </header>
    <div>
    <img style="margin-left: 2%;margin-top: 1%;border-radius: 10px" width="1520" height="290" src="/static/images/music_ad.jpg" alt="no_image">
    </div>
    <table style="margin-left: 2%;margin-top: 1%; border-radius: 10px">
        <tr>
            <th scope="col" class="first" style="width: 170px">Movie</th>
            <th scope="col" class="middle" style="width: 150px">Category</th>
            <th scope="col" class="middle" style="width: 250px">Start</th>
            <th scope="col" class="middle" style="width: 250px">End</th>
            <th scope="col" class="middle" style="width: 150px">Hall</th>
            <th scope="col" class="middle" style="width: 150px">Price</th>
            <th scope="col" class="last" style="width: 400px">Description</th>
        </tr>
        <tr>
            <th scope="row" class="first" style="width: 170px">Movie_1</th>
            <th scope="row" class="middle" style="width: 150px">Category_1</th>
            <th scope="row" class="middle" style="width: 250px">Start_1</th>
            <th scope="row" class="middle" style="width: 250px">End_1</th>
            <th scope="row" class="middle" style="width: 150px">Hall_1</th>
            <th scope="row" class="middle" style="width: 150px">Price_1</th>
            <th scope="row" class="last" style="width: 400px">Description_1</th>
        </tr>
        <tr>
            <th scope="row" class="first" style="width: 170px">Movie_2</th>
            <th scope="row" class="middle" style="width: 150px">Category_2</th>
            <th scope="row" class="middle" style="width: 250px">Start_2</th>
            <th scope="row" class="middle" style="width: 250px">End_2</th>
            <th scope="row" class="middle" style="width: 150px">Hall_2</th>
            <th scope="row" class="middle" style="width: 150px">Price_2</th>
            <th scope="row" class="last" style="width: 400px">Description_2</th>
        </tr>
        <tr>
            <th scope="row" class="first" style="width: 170px">Movie_3</th>
            <th scope="row" class="middle" style="width: 150px">Category_3</th>
            <th scope="row" class="middle" style="width: 250px">Start_3</th>
            <th scope="row" class="middle" style="width: 250px">End_3</th>
            <th scope="row" class="middle" style="width: 150px">Hall_3</th>
            <th scope="row" class="middle" style="width: 150px">Price_3</th>
            <th scope="row" class="last" style="width: 400px">Description_3</th>
        </tr>
        <tr>
            <th scope="row" class="first" style="width: 170px">Movie_3</th>
            <th scope="row" class="middle" style="width: 150px">Category_3</th>
            <th scope="row" class="middle" style="width: 250px">Start_3</th>
            <th scope="row" class="middle" style="width: 250px">End_3</th>
            <th scope="row" class="middle" style="width: 150px">Hall_3</th>
            <th scope="row" class="middle" style="width: 150px">Price_3</th>
            <th scope="row" class="last" style="width: 400px">Description_3</th>
        </tr>
        <tr>
            <th scope="row" class="first" style="width: 170px">Movie_4</th>
            <th scope="row" class="middle" style="width: 150px">Category_4</th>
            <th scope="row" class="middle" style="width: 250px">Start_4</th>
            <th scope="row" class="middle" style="width: 250px">End_4</th>
            <th scope="row" class="middle" style="width: 150px">Hall_4</th>
            <th scope="row" class="middle" style="width: 150px">Price_4</th>
            <th scope="row" class="last" style="width: 400px">Description_4</th>
        </tr>
        <tr>
            <th scope="row" class="first" style="width: 170px">Movie_5</th>
            <th scope="row" class="middle" style="width: 150px">Category_5</th>
            <th scope="row" class="middle" style="width: 250px">Start_5</th>
            <th scope="row" class="middle" style="width: 250px">End_5</th>
            <th scope="row" class="middle" style="width: 150px">Hall_5</th>
            <th scope="row" class="middle" style="width: 150px">Price_5</th>
            <th scope="row" class="last" style="width: 400px">Description_5</th>
        </tr>
        <tr>
            <th scope="row" class="first" style="width: 170px">Movie_6</th>
            <th scope="row" class="middle" style="width: 150px">Category_6</th>
            <th scope="row" class="middle" style="width: 250px">Start_6</th>
            <th scope="row" class="middle" style="width: 250px">End_6</th>
            <th scope="row" class="middle" style="width: 150px">Hall_6</th>
            <th scope="row" class="middle" style="width: 150px">Price_6</th>
            <th scope="row" class="last" style="width: 400px">Description_6</th>
        </tr>
        <tr>
            <th scope="row" class="first" style="width: 170px">Movie_7</th>
            <th scope="row" class="middle" style="width: 150px">Category_7</th>
            <th scope="row" class="middle" style="width: 250px">Start_7</th>
            <th scope="row" class="middle" style="width: 250px">End_7</th>
            <th scope="row" class="middle" style="width: 150px">Hall_7</th>
            <th scope="row" class="middle" style="width: 150px">Price_7</th>
            <th scope="row" class="last" style="width: 400px">Description_7</th>
        </tr>
    </table>
</div>
<footer>
    <div class="box">
        <div class="icons">
            <a href="https://facebook.com" target="_blank">
                <i class="fa fa-facebook-official" style="color: white; font-size: 20px;"></i>
            </a>
            <a href="https://instagram.com" target="_blank">
                <i class="fa fa-instagram" style="color: white; font-size: 20px;"></i>
            </a>
            <a href="https://twitter.com" target="_blank">
                <i class="fa fa-twitter" style="color: white; font-size: 20px;"></i>
            </a>
        </div>
        <div class="text">
            <p style="color: white">© YerevanCinema</p>
            <p style="color: white">Komitas 99, Yerevan</p>
            <p style="color: white">Tel. +374 10 10 10 10</p>
        </div>
    </div>
</footer>
</body>
</html>