<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recover</title>

    <link rel="icon" type="image/png" href="/static/images/cinema_black_icon.png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/static/css/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/css/util.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body>

<div class="limiter">
    <header>
        <div class="logo">
            <div class="logo-img">
                <a href="/"><img src="/static/images/cinema_logo.png" alt="no_image"></a>
            </div>
            <div class="name">
                <h2>YerevanCinema</h2>
            </div>
        </div>
        <div class="header-menu">
            <div class="menu">
                <ul>
                    <a href="/sessions">
                        <li>Sessions</li>
                    </a>
                    <a href="/about">
                        <li>About</li>
                    </a>
                    <a href="/contact">
                        <li>Contact</li>
                    </a>
                    <a href="/login">
                        <li>Log In</li>
                    </a>
                </ul>
            </div>
        </div>
    </header>
    <h1 style="margin-top: 40px;text-align: center;font-size: 55px;text-shadow: -2px -2px 8px;">
        Recover
    </h1>
    <h1 style="text-align:left;float:left;margin-top: 40px;margin-left:210px;font-size: 45px;text-shadow: -2px -2px 8px;">
        Username</h1>
    <h1 style="text-align:right;float:right;margin-top: 40px;margin-right:210px;font-size: 45px;text-shadow: -2px -2px 8px;">
        Password</h1>
    <div class="limiter">
        <div class="center-1">
            <div class="front-face">
                <div class="contents front">
                    <form action="/recover/username" method="post">
                        <div class="wrap-input100 validate-input" style="border-radius: 10px;"
                             data-validate="Invalid email">
                            <label>Email
                                <input class="input100" style="border-radius: 10px;background-color: white" type="text"
                                       name="email">
                            </label>
                        </div>
                        <div class="wrap-input100 validate-input" style="border-radius: 10px;"
                             data-validate="Invalid password">
                            <label>Password
                                <input class="input100" style="border-radius: 10px;background-color: white"
                                       type="password"
                                       name="password">
                            </label>
                        </div>
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" style="background-color: black" type="submit">
                                    Get username
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="center-3">
            <div class="front-face">
                <div class="contents front">
                    <form action="/recover/password" method="post">
                        <div class="wrap-input100 validate-input" style="border-radius: 10px;"
                             data-validate="Invalid email">
                            <label>Email
                                <input class="input100" style="border-radius: 10px;background-color: white"
                                       type="text"
                                       name="pass_email">
                            </label>
                        </div>
                        <div class="wrap-input100 validate-input" style="border-radius: 10px;"
                             data-validate="Invalid password">
                            <label>Username
                                <input class="input100" style="border-radius: 10px;background-color: white"
                                       type="text"
                                       name="username">
                            </label>
                        </div>
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn" style="background-color: black" type="submit">
                                    Get password
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer >
    <div class="box">
        <div class="icons">
            <a href="https://facebook.com"><i class="fa fa-facebook-official" style="color: white; font-size: 20px;"></i></a>
            <a href="https://instagram.com"><i class="fa fa-instagram" style="color: white; font-size: 20px;"></i></a>
            <a href="https://twitter.com"><i class="fa fa-twitter" style="color: white; font-size: 20px;"></i></a>
        </div>
        <div class="text">
            <p  style="color: white">© YerevanCinema</p>
            <p style="color: white">Komitas 35, Yerevan</p>
            <p style="color: white">Tel. +374 10 10 10 10</p>
        </div>
    </div>
</footer>
</body>
</html>